//    Font Family
$primary-font: "Poppins", sans-serif;

// COlORs
$dark-blue: #133159;
$hover-bg: #3c7ef3;
$black: #000;
$white: #fff;
$dark-gray: #e5e8ef;
$gray: #546376;
$light-green: #68ebca;
$main-bg: #e5e5e5;
$gray-light: #f6f7fb;
$dark-gray: #e5e8ef;
$blue-lite: rgba(60, 126, 243, 0.1);
$dot-bg: #c4c4c4;
$text-color: #333333;
$text-color2: #8896a8;
$text-color3: #ff5858;
$text-color4: #6FCF97;
$text-color5: #FFB053;
